*{
  margin: 0;
  padding: 0;
}
header{
  height: 100vh;
  background: linear-gradient(rgba(6,0,0,0.5),rgba(6,0,0,0.5)),url('/images/donation6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center h1{
  color: white;
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 700;
}
.center p{
  color: #e4e3e3fb;
  font-size: 18px;
  margin-bottom: 20px;
  
}
.btn{
  background: #ff6058;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
}
.btn:hover{
  cursor: pointer;
}
main{
  max-width: 1140px;
  margin: 150px auto;
  text-align: center;
}
.section-title{
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 700;
}
.section-description{
  font-size: 18px;
  color: #636363;
  width: 700px;
  margin: auto;
  margin-bottom: 55px;
}
.btn-tk{
  background: #e7e7e7;
  padding: 25px 15px;
  border: none;
  margin: 0 8px;
  margin-bottom: 50px;
  font-size: 22px;
  border-radius: 8px;
  font-weight: 700;
  color: #808080;
}
.btn-tk:hover{
  background: #eea4a1;
  border: 2px solid red;
  color: red;
  transition: 0.3s;
  
}
section input{
  border: none;
  padding: 10px;
  font-size: 18px;
  
}

hr{
  border: 1px solid #848484;
  margin-bottom: 15px;
}
.margin{
  margin-bottom: 100px;
}
.donate-container{
  display: flex;
  gap: 15px;
  
}

.donate-content{
  text-align: left;
  padding: 55px 25px;
  border-radius: 5px;
}
.donate-content img{
  margin-bottom: 30px;
}
.donate-title{
margin-bottom: 20px;
font-weight: 700;
}
.donate-description{
  font-size: 18px;
  color: #848484;
}

.bgcolor1{
  background: #EDF5F6;
}
.bgcolor2{
  background: #FFEEEE;
}
.bgcolor3{
  background: #FFF4D6;
}
.donation-container{
  display: flex;
  justify-content:flex-start;
  gap: 15px;
  
}
.donater-content{
width: 450px;
text-align: left;
padding: 0 60px;
}
.donater-content h1{
  margin-top: 70px;
}
.donater-content img{
  width: 350px;
  height: 450px;
}
.pmargin{
  margin: 25px 0;
}
.bgcolor{
  background: #FFF4D6;
  width: 900px;
  margin: 0 auto;
  padding: 100px 0;
}
.remove{
  border-radius: 0;
  font-size: 18px;
  margin-left: -3px;
}
.input{
  background: #D9D9D9;
}
footer{
  background: #000;
  padding: 50px 0;
  color: white;
  text-align: center;
}
footer h3{
  color: #ff6058;
  font-weight: 700;
  margin-bottom: 15px;
}
footer p{
  font-size: 12px;
  color: #d1cece;
}